<br>
<!-- Callout -->
<div class="callout callout-danger fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h5>Importante!</h5>
  <p>Tome en cuenta las medidas indicadas para cada imagen, recuerde si no sigue estas reglas implicara una incorrecta visualizacion en la pagina.</p>
</div>
      <!-- /callout -->
    <!-- WYSIWYG editor -->
<form class="block" action="" enctype="multipart/form-data" method="POST" role="form">
  <h6><i class="icon-plus"></i>Agregar foto</h6>

  <div class="form-group">
    <select required class="form-control" name="galeria[categoria]">
      <option value="">Categoria</option>
      <option value="Promoviendo Salud">Promoviendo Salud</option>
      <option value="Mejorando Vidas">Mejorando Vidas</option>
      <option value="Diva">Diva</option>
      <option value="Model">Model</option>
      <option value="Estilo de Vida">Estilo de Vida</option>
    </select>
  </div>
  <div class="form-group">
    <label>Imagen (600x900)</label>
    <input accept="image/jpeg,image/gif,image/x-png" required type="file" class="styled" name="imagen_selected" id="adjunto">
  </div>
  <div class="text-right">
    <button type="reset" class="btn btn-danger">Cancelar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>

</form>
