<br>
<!-- Callout -->
<div class="callout callout-danger fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h5>Importante!</h5>
  <p>Tome en cuenta las medidas indicadas para cada imagen, recuerde si no sigue estas reglas implicara una incorrecta visualizacion en la pagina.</p>
  <p><?php View::content() ?></p>
</div>
      <!-- /callout -->
    <!-- WYSIWYG editor -->
<form class="block" action="" enctype="multipart/form-data" method="POST" role="form">
  <h6><i class="icon-pencil"></i>Datos de contacto</h6>
  <input type="hidden" name="contacto[id]" value="<?php echo $contacto->id ?>">
  <div class="row" style="">
    <div class="col-xs-8">
      <div class="form-group">
        <?php echo Form::text('contacto.web', array(
          'placeholder'=>"Web..",
          'class'=>"form-control",
        )) ?>
      </div>
      <div class="form-group">
        <?php echo Form::text('contacto.correo', array(
          'placeholder'=>"Correo..",
          'class'=>"form-control",
        )) ?>
      </div>
      <div class="form-group">
        <?php echo Form::text('contacto.facebook', array(
          'placeholder'=>"Facebook..",
          'class'=>"form-control",
        )) ?>
      </div>
      <div class="form-group">
        <?php echo Form::text('contacto.youtube', array(
          'placeholder'=>"Youtube..",
          'class'=>"form-control",
        )) ?>
      </div>
      <div class="form-group">
        <?php echo Form::text('contacto.instagram', array(
          'placeholder'=>"Instagram..",
          'class'=>"form-control",
        )) ?>
      </div>
    </div>
    <div class="text-right col-xs-8">
      <button type="reset" class="btn btn-danger">Cancelar</button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </div>

</form>
