<br>
<!-- Callout -->
<div class="callout callout-danger fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h5>Importante!</h5>
  <p>Tome en cuenta las medidas indicadas para cada imagen, recuerde si no sigue estas reglas implicara una incorrecta visualizacion en la pagina.</p>
</div>
<!-- /callout -->
<!-- WYSIWYG editor -->
<form class="block" action="" enctype="multipart/form-data" method="POST" role="form">
  <h6><i class="icon-pencil"></i>Editar blog</h6>
  <?php echo Form::hidden('blogs.id')?>
  <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="block">
              <div class="thumbnail thumbnail-boxed">
                <div class="thumb">
                <img alt="" src="<?php echo PUBLIC_PATH.'files/upload/blogs/'.$blogs->img_inicio ?>">
                </div>
                <div class="caption">
                  <a href="#" target="_blank" title="" class="caption-title"><?php echo $blogs->titulo ?></a>
                  <small><?php echo $blogs->subtitulo ?></small>
                  <p><?php echo $blogs->descripcion ?></p>

                </div>
                <img alt="" src="<?php echo PUBLIC_PATH.'files/upload/blogs/'.$blogs->img_noticia ?>">
              </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6">
          <div class="form-group">
            <?php echo Form::text('blogs.titulo', array(
              'placeholder'=>"Titulo *",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <?php echo Form::text('blogs.subtitulo', array(
              'placeholder'=>"Subtitulo - Solo aplicar cuando el titulo es muy corto",
              'class'=>"form-control"
            )) ?>
          </div>
          <div class="form-group">
            <?php echo Form::textarea('blogs.descripcion', array(
              'placeholder'=>"Descripcion..",
              'class'=>"form-control",
              'rows'=>"5",
              'cols'=>"5"
            )) ?>
          </div>
          <div class="block-inner">
            <?php echo Form::textarea('blogs.texto', array(
              'placeholder'=>"Escriba el contenido...",
              'class'=>"editor",
            )) ?>
          </div>
          <div class="form-group">
            <label>Imagen de Inicio (451x437px)</label>
            <input type="file" class="styled" name="imagen_selected" id="adjunto">
          </div>
          <div class="form-group">
            <label>Imagen Noticia (1110x740px - Mientras sea una imagen rectangular y no cuadrada)</label>
            <input type="file" class="styled" name="imagen_selected2" id="adjuntob">
          </div>
            <div class="text-right">
            <button type="reset" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-primary">Editar</button>
          </div>
        </div>

  </div>

</form>
