<br>
<!-- sliders table -->
<?php View::content() ?>
<div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="panel-title"><i class="icon-paragraph-justify2"></i> Listado de Fotos</h6>
          <a class="btn btn-primary" style="float:right;" href="<?php echo PUBLIC_PATH.'admin/agregar_foto/' ?>">
            <i class="icon-plus"></i> Agregar Foto
          </a>
        </div>
          <div class="datatable">
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th class="task-tools text-center">Imagen</th>
                          <th class="task-tools text-center">Editar</th>
                          <th class="task-tools text-center">Eliminar</th>
                      </tr>
                  </thead>
                  <tbody>
                    <?php foreach ($galeria as $key => $value): ?>
                      <tr>
                        <td class="text-center">
                          <img src="<?php echo PUBLIC_PATH.'files/upload/galeria/'.$value->imagen ?>" alt="" width="50px">
                        </td>
                        <td class="text-center">
                          <div class="btn-group">
                               <a href="<?php echo PUBLIC_PATH.'admin/editar_foto/'.$value->id.'/' ?>" class="btn btn-icon btn-success">
                                 <i class="icon-quill2"></i>
                               </a>
                          </div>
                        </td>
                        <td class="text-center">
                          <div class="btn-group">
                               <a href="<?php echo PUBLIC_PATH.'admin/eliminar_foto/'.$value->id.'/' ?>" class="btn btn-icon btn-danger"><i class="icon-remove"></i></a>
                          </div>
                        </td>
                      </tr>
                    <?php endforeach; ?>
                  </tbody>
              </table>
          </div>
      </div>
<!-- /sliders table -->
