<br>
<!-- Callout -->
<div class="callout callout-danger fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h5>Importante!</h5>
  <p>Tome en cuenta las medidas indicadas para cada imagen, recuerde si no sigue estas reglas implicara una incorrecta visualizacion en la pagina.</p>
</div>
      <!-- /callout -->
    <!-- WYSIWYG editor -->
<form class="block" action="" enctype="multipart/form-data" method="POST" role="form">
  <h6><i class="icon-pencil"></i>Crear blog</h6>

  <div class="form-group">
    <?php echo Form::text('blogs.titulo', array(
      'placeholder'=>"Titulo *",
      'required'=>'true',
      'class'=>"form-control"
    )) ?>
  </div>
  <div class="form-group">
    <?php echo Form::text('blogs.subtitulo', array(
      'placeholder'=>"Subtitulo - Solo aplicar cuando el titulo es muy corto",
      'class'=>"form-control"
    )) ?>
  </div>
  <div class="form-group">
    <?php echo Form::textarea('blogs.descripcion', array(
      'placeholder'=>"Descripcion..",
      'class'=>"form-control",
      'rows'=>"5",
      'cols'=>"5"
    )) ?>
  </div>
  <div class="block-inner">
    <?php echo Form::textarea('blogs.texto', array(
      'placeholder'=>"Escriba el contenido...",
      'class'=>"editor",
    )) ?>
  </div>
  <div class="form-group">
    <label>Imagen de Inicio (Debe ser cuadrada)</label>
    <input type="file" class="styled" name="imagen_selected" id="adjunto">
  </div>
  <div class="form-group">
    <label>Imagen Noticia (Imagen rectangular preferiblemente y grande)</label>
    <input type="file" class="styled" name="imagen_selected2" id="adjuntob">
  </div>
          <div class="text-right">
            <button type="reset" class="btn btn-danger">Cancelar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>

</form>
