<div class="section_padding_top_100 section_padding_bottom_100 blog-actual" style="margin-top:20px">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-md-8 col-lg-8">
        <div class="post-single">
          <figure class="post-single__img">
            <img src="<?php echo PUBLIC_PATH.'files/upload/blogs/'.$blog->img_noticia ?> " alt="">
          </figure>
          <div class="post-single__content" style="border:0">
            <div class="post-type-1__meta">
              <div class="post-type-1__meta-block-1">
                <p class="post-type-1__date"><?php echo (new DateTime($blog->created_at))->format('d-m-Y') ?> </p>

              </div>

            </div>
            <div class="post-single__text">
              <h3 class="post-single__title">
                <?php echo $blog->titulo ?>
                <?php if (!$blog->subtitulo==''): ?>
                  - <?php echo $blog->subtitulo ?>
                <?php endif ?>
              </h3>
              <p style="text-align: justify;">
                <?php echo $blog->texto ?>
              </p>
            </div>

          </div>
        </div>


      </div>

      <aside class="sidebar col-sm-5 col-md-4 col-lg-4">

        <div class="widget widget_latest-posts">
          <h3 class="widget-title" style="background:#470831;color:#fff">Otras Noticias</h3>
          <div class="widget-wrapp">
            <ul class="widget_latest-posts-list">
                <?php foreach ($blogs as $key => $value): ?>
                  <li>
                    <figure class="widget_latest-posts__img">
                      <a href="<?php echo PUBLIC_PATH.'index/blog/'.$value->id.'/' ?>">
                        <img src="<?php echo PUBLIC_PATH.'files/upload/blogs/'.$value->img_inicio ?>" alt="">
                      </a>
                    </figure>
                    <div class="widget_latest-posts__content">
                      <div class="widget_latest-posts__title">
                        <a href="<?php echo PUBLIC_PATH.'index/blog/'.$value->id.'/' ?>"><?php echo $value->titulo?>
                          <?php
                            if (!$value->subtitulo==''){
                              echo '-'.$value->subtitulo;
                            }
                          ?>
                      </a>
                      </div>
                    </div>
                    <a href="<?php echo PUBLIC_PATH.'index/blog/'.$value->id.'/' ?>" class="widget_latest-posts-button">ver mas</a>
                  </li>
                <?php endforeach; ?>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
