<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="<?php echo PUBLIC_PATH.'img_mela/favicon.jpg' ?>">
<link rel="icon" href="<?php echo PUBLIC_PATH.'img_mela/favicon.jpg' ?>" type="image/x-jpg">
<title>Administracion</title>

<link href="<?php echo PUBLIC_PATH.'administrador/css/bootstrap.min.css' ?>" rel="stylesheet" type="text/css">
<link href="<?php echo PUBLIC_PATH.'administrador/css/londinium-theme.css'?>" rel="stylesheet" type="text/css">
<link href="<?php echo PUBLIC_PATH.'administrador/css/styles.css'?>" rel="stylesheet" type="text/css">
<link href="<?php echo PUBLIC_PATH.'administrador/css/icons.css'?>" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH.'administrador/js/plugins/interface/colorpicker/bootstrap-colorpicker.min.css'?>"></link>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'css/fonts.css' ?>">
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'js/vendor/jquery-1.12.4.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'js/vendor/jquery-ui.min.js'?>"></script>

<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/charts/sparkline.min.js'?>"></script>

<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/uniform.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/select2.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/inputmask.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/autosize.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/inputlimit.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/listbox.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/multiselect.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/validate.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/tags.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/switch.min.js'?>"></script>

<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/uploader/plupload.full.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/uploader/plupload.queue.min.js'?>"></script>

<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/wysihtml5/wysihtml5.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/forms/wysihtml5/toolbar.js'?>"></script>

<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/interface/daterangepicker.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/interface/fancybox.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/interface/moment.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/interface/jgrowl.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/interface/datatables.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/interface/colorpicker/bootstrap-colorpicker.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/interface/fullcalendar.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/plugins/interface/timepicker.min.js'?>"></script>

<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/bootstrap.min.js'?>"></script>
<script type="text/javascript" src="<?php echo PUBLIC_PATH.'administrador/js/application.js'?>"></script>


</head>
<body>
  <?php View::partial('admin/header', NULL, array()) ?>
  <!-- Page container -->
  <div class="page-container">
    <?php View::partial('admin/sidebar', NULL, array()) ?>
    <!-- Page content -->
    <div class="page-content">
      <?php View::content() ?>
    </div>
    <!-- /page content -->
  </div>
  <!-- /page container -->
</body>
