<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<title>Efecto Mela</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<link rel="shortcut icon" href="<?php echo PUBLIC_PATH.'img_mela/favicon.jpg' ?>">
	<link rel="icon" href="<?php echo PUBLIC_PATH.'img_mela/favicon.jpg' ?>" type="image/x-jpg">
	<meta name="description" content="A los 14 años inicie mi carrera de modelaje en Panamá y desde allí fui preparándome para lograr el primero de mis sueños: Miss Panamá  convirtiéndome en la representante de mi país para Miss Mundo en 2003 a la edad de 21 años">
	<meta name="author" content="mas publicidad, steffdesign">
	<meta name="robots" content="index/follow">
	<meta name="keyword" content="panama, modelaje, fitness, entrenador, entrenadora, miss, miss mundo, gym, gimnasio" />
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'css/bootstrap.min.css' ?>">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'css/main.css' ?>" id="color-switcher-link">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'css/animations.css' ?>">
	<link rel="stylesheet" href="<?php echo PUBLIC_PATH.'css/fonts.css' ?>">
	<script src="<?php echo PUBLIC_PATH.'js/vendor/modernizr-2.6.2.min.js'?>"></script>

	<!--[if lt IE 9]>
		<script src="<?php echo PUBLIC_PATH.'js/vendor/html5shiv.min.js'?>"></script>
		<script src="<?php echo PUBLIC_PATH.'js/vendor/respond.min.js' ?>"></script>
		<script src="<?php echo PUBLIC_PATH.'js/vendor/jquery-1.12.4.min.js' ?>"></script>
	<![endif]-->

</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

	<div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<div id="canvas">
		<div id="box_wrapper">
      <?php View::partial('index/header', NULL, array('contacto'=>$contacto)) ?>
      <?php View::content() ?>
      <?php View::partial('index/footer', NULL, array()) ?>
		</div>
	</div>
	<script src="<?php echo PUBLIC_PATH.'js/compressed.js' ?>"></script>
	<script src="<?php echo PUBLIC_PATH.'js/main.js' ?>"></script>
	<script>

	    function soloNumeros(e){
	       key = e.keyCode || e.which;
	       tecla = String.fromCharCode(key).toLowerCase();
	       letras = "0123456789";
	       especiales = "-";

	       tecla_especial = false
	       for(var i in especiales){
	            if(key == especiales[i]){
	                tecla_especial = true;
	                break;
	            }
	        }

	        if(letras.indexOf(tecla)==-1 && !tecla_especial){
	            return false;
	        }
	    }
			<?php foreach ($videos as $key => $value): ?>
					function mostrar<?php echo $value->id ?>(){
						document.getElementById('video<?php echo $value->id ?>').style.display = 'block';
						<?php foreach ($videos as $key => $value1): ?>
							<?php if($value1->id != $value->id):?>
								document.getElementById('video<?php echo $value1->id ?>').style.display = 'none';
							<?php endif; ?>
						<?php endforeach; ?>
					}
			<?php endforeach; ?>


      	$('#plan_a').on('shown.bs.modal', function () {
		  $('#myInput').focus();
		})
		$('#plan_b').on('shown.bs.modal', function () {
		  $('#myInput').focus();
		})
		$('#plan_c').on('shown.bs.modal', function () {
		  $('#myInput').focus();
		})
		$('#plan_d').on('shown.bs.modal', function () {
		  $('#myInput').focus();
		})

	</script>
</body>
</html>
