<!-- Sidebar -->
<div class="sidebar">
  <div class="sidebar-content">

    <!-- User dropdown -->
    <div class="user-menu dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="<?php echo PUBLIC_PATH.'administrador/mela/perfil.jpg'?>">
        <div class="user-info">
          Mela Piedrahita<span>Administradora</span>
        </div>
      </a>

    </div>
    <!-- /user dropdown -->


    <!-- Main navigation -->
    <?php $url = $_SERVER['PATH_INFO'] ?>
    <ul class="navigation">
      <li><a href="#">
        <span>Configuraciones Generales </span> <i class="icon-cogs"></i></a>
      </li>
      <li <?php if('/admin' == $url) echo "class='active'"?> >
        <a href="<?php echo PUBLIC_PATH.'admin'?>">
        <span>Inicio</span> <i class="icon-screen2"></i></a>
      </li>
      <li <?php if('/admin/nuevo_blog' == $url) echo "class='active'"?> >
        <a
          href="<?php echo PUBLIC_PATH.'admin/nuevo_blog'?>">
          <span>Nuevo blog</span> <i class="icon-plus"></i>
        </a>
      </li>
      <li <?php if('/admin/sliders' == $url or '/admin/nuevo_slider/' == $url ) echo "class='active'"?> >
        <a href="<?php echo PUBLIC_PATH.'admin/sliders'?>">
          <span>Sliders</span> <i class="icon-images"></i>
        </a>
      </li>
      <li <?php if('/admin/galeria' == $url) echo "class='active'"?>>
        <a href="<?php echo PUBLIC_PATH.'admin/galeria'?>">
          <span>Galeria</span> <i class="icon-images"></i>
        </a>
      </li>
      <li <?php if('/admin/sobre_mi/' == $url) echo "class='active'"?>>
        <a href="<?php echo PUBLIC_PATH.'admin/sobre_mi/'?>">
          <span>Sobre mi</span> <i class="icon-user"></i>
        </a>
      </li>
      <li <?php if('/admin/planes/' == $url) echo "class='active'"?> >
        <a href="<?php echo PUBLIC_PATH.'admin/planes/'?>">
          <span>Planes</span> <i class="icon-file"></i>
        </a>
      </li>
      <li <?php if('/admin/videos/' == $url or '/admin/agregar_video/' == $url ) echo "class='active'"?>>
        <a href="<?php echo PUBLIC_PATH.'admin/videos/'?>">
          <span>Videos</span> <i class="icon-movie"></i>
        </a>
      </li>
      <li <?php if('/admin/contacto/' == $url) echo "class='active'"?> >
        <a href="<?php echo PUBLIC_PATH.'admin/contacto/'?>">
          <span>Datos de contacto</span> <i class="icon-book"></i>
        </a>
      </li>
    </ul>
    <!-- /main navigation -->

  </div>
</div>
<!-- /sidebar -->
