<footer class="page_footer footer-01" style="padding-bottom:40px;padding-top:20px;background:#000">
  <div class="container">

    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 text-xs-center text-center">
        <a href="#">
          <img src="<?php echo PUBLIC_PATH.'img/aside_bg2.jpg'?>" style="height:100px !important;width:300px!important;max-width:300px!important" alt="">
        </a>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10 text-xs-center text-center">
        <p class="copyrights-text-01" style="color:#eee;line-height:1.5em;"><b>&copy; Copyright Efecto Mela 2017. Todos los Derechos Reservados</b> <br>
          <a href="http://maspublicidad.net">Diseñado por más publicidad</a>
        </p>
      </div>
    </div>
  </div>
</footer>
