<div class="dsb page_topline topline-01">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-5 text-xs-center">
        <div class="page_topline__mail-wrapp">
          <a href="<?php echo PUBLIC_PATH ?>#contacto" class="page_topline__mail"><?php echo $contacto->correo ?></a>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 text-center">
        <a href="<?php echo PUBLIC_PATH?>" class="logo logo_image">
          <img src="<?php echo PUBLIC_PATH.'images/logoxx.png'?>" style="width:57px;" alt="">
        </a>
      </div>
      <div class="col-sm-5 col-md-5 col-lg-5 text-xs-center text-right">
        <ul class="social-list">
          <li>
            <a style="font-size:25px;" href="<?php echo $contacto->facebook ?>" class="fa fa-facebook" aria-hidden="true" target="_blank"></a>
          </li>
          <li>
            <a style="font-size:25px" href="<?php echo $contacto->youtube ?>" class="fa fa-youtube" aria-hidden="true" target="_blank"></a>
          </li>
          <li>
            <a style="font-size:25px" href="<?php echo $contacto->instagram ?>" class="fa fa-instagram" aria-hidden="true" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="home-page-header">
  <header class="page_header columns_padding_0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <nav class="mainmenu_wrapper">
            <ul class="mainmenu nav sf-menu text-center">
              <li class="main-nav main-nav-left">
                <ul>
                  <li class="active">
                    <a href="<?php echo PUBLIC_PATH ?>">Inicio</a>
                  </li>
                  <li>
                    <a href="<?php echo PUBLIC_PATH ?>#sobremi">Sobre mi</a>
                  </li>
                  <li>
                    <a href="<?php echo PUBLIC_PATH ?>#planes">Planes</a>
                  </li>
                  <li>
                    <a href="<?php echo PUBLIC_PATH ?>#galeria">Galeria</a>
                  </li>
                </ul>
              </li>
              <li class="list-logo text-center">
                <a href="<?php echo PUBLIC_PATH ?>" class="logo logo_image">
                  <img src="<?php echo PUBLIC_PATH.'images/logo.png'?>" alt="Efecto Mela">
                </a>
              </li>
              <li class="main-nav main-nav-right">
                <ul>
                  <li>
                    <a href="<?php echo PUBLIC_PATH ?>#blog">Blog</a>
                  </li>
                  <li>
                    <a href="<?php echo PUBLIC_PATH ?>#videos">Videos</a>
                  </li>
                  <li>
                    <a href="<?php echo PUBLIC_PATH ?>#contacto">Contacto</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <span class="toggle_menu">
            <span></span>
          </span>
        </div>
      </div>
    </div>
  </header>
</div>
